<div>
  <h2 id="page-heading" data-cy="CompteAttenteHeading">
    <span jhiTranslate="eComptaApp.compteAttente.home.title">__jhiTransformTranslate__('eComptaApp.compteAttente.home.title')</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eComptaApp.compteAttente.home.refreshListLabel"
          >__jhiTransformTranslate__('eComptaApp.compteAttente.home.refreshListLabel')</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-compte-attente"
        [routerLink]="['/compte-attente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eComptaApp.compteAttente.home.createLabel"
          >__jhiTransformTranslate__('eComptaApp.compteAttente.home.createLabel')</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="compteAttentes?.length === 0">
    <span jhiTranslate="eComptaApp.compteAttente.home.notFound">__jhiTransformTranslate__('eComptaApp.compteAttente.home.notFound')</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="compteAttentes && compteAttentes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numeroCompte">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.compteAttente.numeroCompte"
                >__jhiTransformTranslate__('eComptaApp.compteAttente.numeroCompte')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.compteAttente.nom">__jhiTransformTranslate__('eComptaApp.compteAttente.nom')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.compteAttente.description"
                >__jhiTransformTranslate__('eComptaApp.compteAttente.description')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="compte.compteAttente">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.compteAttente.compte">__jhiTransformTranslate__('eComptaApp.compteAttente.compte')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compteAttente of compteAttentes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/compte-attente', compteAttente.id, 'view']">{{ compteAttente.id }}</a>
          </td>
          <td>{{ compteAttente.numeroCompte }}</td>
          <td>{{ compteAttente.nom }}</td>
          <td>{{ compteAttente.description }}</td>
          <td>
            <div *ngIf="compteAttente.compte">
              <a [routerLink]="['/compte', compteAttente.compte.id, 'view']"></a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/compte-attente', compteAttente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">__jhiTransformTranslate__('entity.action.view')</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/compte-attente', compteAttente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">__jhiTransformTranslate__('entity.action.edit')</span>
              </button>

              <button type="submit" (click)="delete(compteAttente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"
                  >__jhiTransformTranslate__('entity.action.delete')</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
