<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="audit">
      <h2 data-cy="auditDetailsHeading">
        <span jhiTranslate="eComptaApp.audit.detail.title">__jhiTransformTranslate__('eComptaApp.audit.detail.title')</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span></dt>
        <dd>
          <span>{{ audit.id }}</span>
        </dd>
        <dt><span jhiTranslate="eComptaApp.audit.date">__jhiTransformTranslate__('eComptaApp.audit.date')</span></dt>
        <dd>
          <span>{{ audit.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="eComptaApp.audit.action">__jhiTransformTranslate__('eComptaApp.audit.action')</span></dt>
        <dd>
          <span>{{ audit.action }}</span>
        </dd>
        <dt><span jhiTranslate="eComptaApp.audit.entiteModifiee">__jhiTransformTranslate__('eComptaApp.audit.entiteModifiee')</span></dt>
        <dd>
          <span>{{ audit.entiteModifiee }}</span>
        </dd>
        <dt><span jhiTranslate="eComptaApp.audit.utilisateur">__jhiTransformTranslate__('eComptaApp.audit.utilisateur')</span></dt>
        <dd>
          <span>{{ audit.utilisateur }}</span>
        </dd>
        <dt><span jhiTranslate="eComptaApp.audit.compte">__jhiTransformTranslate__('eComptaApp.audit.compte')</span></dt>
        <dd>
          <div *ngIf="audit.compte">
            <a [routerLink]="['/compte', audit.compte.id, 'view']">{{ audit.compte.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"
          >__jhiTransformTranslate__('entity.action.back')</span
        >
      </button>

      <button type="button" [routerLink]="['/audit', audit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"
          >__jhiTransformTranslate__('entity.action.edit')</span
        >
      </button>
    </div>
  </div>
</div>
