<div>
  <h2 id="page-heading" data-cy="ClassComptableHeading">
    <span jhiTranslate="eComptaApp.classComptable.home.title">__jhiTransformTranslate__('eComptaApp.classComptable.home.title')</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eComptaApp.classComptable.home.refreshListLabel"
          >__jhiTransformTranslate__('eComptaApp.classComptable.home.refreshListLabel')</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-class-comptable"
        [routerLink]="['/class-comptable/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eComptaApp.classComptable.home.createLabel"
          >__jhiTransformTranslate__('eComptaApp.classComptable.home.createLabel')</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="classComptables?.length === 0">
    <span jhiTranslate="eComptaApp.classComptable.home.notFound">__jhiTransformTranslate__('eComptaApp.classComptable.home.notFound')</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="classComptables && classComptables.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.classComptable.nom">__jhiTransformTranslate__('eComptaApp.classComptable.nom')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.classComptable.description"
                >__jhiTransformTranslate__('eComptaApp.classComptable.description')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="compte.id">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.classComptable.compte">__jhiTransformTranslate__('eComptaApp.classComptable.compte')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let classComptable of classComptables; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/class-comptable', classComptable.id, 'view']">{{ classComptable.id }}</a>
          </td>
          <td>{{ classComptable.nom }}</td>
          <td>{{ classComptable.description }}</td>
          <td>
            <div *ngIf="classComptable.compte">
              <a [routerLink]="['/compte', classComptable.compte.id, 'view']">{{ classComptable.compte.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/class-comptable', classComptable.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">__jhiTransformTranslate__('entity.action.view')</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/class-comptable', classComptable.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">__jhiTransformTranslate__('entity.action.edit')</span>
              </button>

              <button type="submit" (click)="delete(classComptable)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"
                  >__jhiTransformTranslate__('entity.action.delete')</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
