<div>
  <h2 id="page-heading" data-cy="TransactionHeading">
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transaction"
        [routerLink]="['/transaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eComptaApp.transaction.home.createLabel"
          >__jhiTransformTranslate__('eComptaApp.transaction.home.createLabel')</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
    <span jhiTranslate="eComptaApp.transaction.home.notFound">__jhiTransformTranslate__('eComptaApp.transaction.home.notFound')</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="transactions && transactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!-- <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.transaction.date">__jhiTransformTranslate__('eComptaApp.transaction.date')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="libelle">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.transaction.libelle">__jhiTransformTranslate__('eComptaApp.transaction.libelle')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montant">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.transaction.montant">__jhiTransformTranslate__('eComptaApp.transaction.montant')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>compte crediter</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>compte debiter</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/transaction', transaction.id, 'view']">{{ transaction.id }}</a>
          </td> -->
          <td>{{ transaction.date | formatMediumDatetime }}</td>
          <td>{{ transaction.libelle }}</td>
          <td>{{ transaction.montant }}</td>
          <td>
            <div *ngIf="transaction.compteCrediter">
              <a [routerLink]="['/compte', transaction.compteCrediter.id, 'view']">{{ transaction.compteCrediter.nom }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transaction.compteDebiter">
              <a [routerLink]="['/compte', transaction.compteDebiter.id, 'view']">{{ transaction.compteDebiter.nom }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transaction', transaction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">__jhiTransformTranslate__('entity.action.view')</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transaction', transaction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">__jhiTransformTranslate__('entity.action.edit')</span>
              </button>

              <button type="submit" (click)="delete(transaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"
                  >__jhiTransformTranslate__('entity.action.delete')</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
