<div>
  <h2 id="page-heading" data-cy="PieceComptableHeading">
    <span jhiTranslate="eComptaApp.pieceComptable.home.title">__jhiTransformTranslate__('eComptaApp.pieceComptable.home.title')</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eComptaApp.pieceComptable.home.refreshListLabel"
          >__jhiTransformTranslate__('eComptaApp.pieceComptable.home.refreshListLabel')</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-piece-comptable"
        [routerLink]="['/piece-comptable/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eComptaApp.pieceComptable.home.createLabel"
          >__jhiTransformTranslate__('eComptaApp.pieceComptable.home.createLabel')</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pieceComptables?.length === 0">
    <span jhiTranslate="eComptaApp.pieceComptable.home.notFound">__jhiTransformTranslate__('eComptaApp.pieceComptable.home.notFound')</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="pieceComptables && pieceComptables.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numeroPiece">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.pieceComptable.numeroPiece"
                >__jhiTransformTranslate__('eComptaApp.pieceComptable.numeroPiece')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="datePiece">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.pieceComptable.datePiece"
                >__jhiTransformTranslate__('eComptaApp.pieceComptable.datePiece')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.pieceComptable.description"
                >__jhiTransformTranslate__('eComptaApp.pieceComptable.description')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="comptes.compte">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.pieceComptable.comptes">__jhiTransformTranslate__('eComptaApp.pieceComptable.comptes')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactions.transaction">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.pieceComptable.transactions"
                >__jhiTransformTranslate__('eComptaApp.pieceComptable.transactions')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pieceComptable of pieceComptables; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/piece-comptable', pieceComptable.id, 'view']">{{ pieceComptable.id }}</a>
          </td>
          <td>{{ pieceComptable.numeroPiece }}</td>
          <td>{{ pieceComptable.datePiece | formatMediumDatetime }}</td>
          <td>{{ pieceComptable.description }}</td>
          <td>
            <span *ngFor="let comptes of pieceComptable.comptes; let last = last">
              <a class="form-control-static" [routerLink]="['/compte', comptes.id, 'view']">{{ comptes.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let transactions of pieceComptable.transactions; let last = last">
              <a class="form-control-static" [routerLink]="['/transaction', transactions.id, 'view']">{{ transactions.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/piece-comptable', pieceComptable.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">__jhiTransformTranslate__('entity.action.view')</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/piece-comptable', pieceComptable.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">__jhiTransformTranslate__('entity.action.edit')</span>
              </button>

              <button type="submit" (click)="delete(pieceComptable)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"
                  >__jhiTransformTranslate__('entity.action.delete')</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
