<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="compteAttente">
      <h2 data-cy="compteAttenteDetailsHeading">
        <span jhiTranslate="eComptaApp.compteAttente.detail.title">__jhiTransformTranslate__('eComptaApp.compteAttente.detail.title')</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span></dt>
        <dd>
          <span>{{ compteAttente.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="eComptaApp.compteAttente.numeroCompte"
            >__jhiTransformTranslate__('eComptaApp.compteAttente.numeroCompte')</span
          >
        </dt>
        <dd>
          <span>{{ compteAttente.numeroCompte }}</span>
        </dd>
        <dt><span jhiTranslate="eComptaApp.compteAttente.nom">__jhiTransformTranslate__('eComptaApp.compteAttente.nom')</span></dt>
        <dd>
          <span>{{ compteAttente.nom }}</span>
        </dd>
        <dt>
          <span jhiTranslate="eComptaApp.compteAttente.description">__jhiTransformTranslate__('eComptaApp.compteAttente.description')</span>
        </dt>
        <dd>
          <span>{{ compteAttente.description }}</span>
        </dd>
        <dt><span jhiTranslate="eComptaApp.compteAttente.compte">__jhiTransformTranslate__('eComptaApp.compteAttente.compte')</span></dt>
        <dd>
          <div *ngIf="compteAttente.compte">
            <a [routerLink]="['/compte', compteAttente.compte.id, 'view']"></a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"
          >__jhiTransformTranslate__('entity.action.back')</span
        >
      </button>

      <button type="button" [routerLink]="['/compte-attente', compteAttente.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"
          >__jhiTransformTranslate__('entity.action.edit')</span
        >
      </button>
    </div>
  </div>
</div>
