<div>
  <h2 id="page-heading" data-cy="BilanHeading">
    <span jhiTranslate="eComptaApp.bilan.home.title">__jhiTransformTranslate__('eComptaApp.bilan.home.title')</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eComptaApp.bilan.home.refreshListLabel"
          >__jhiTransformTranslate__('eComptaApp.bilan.home.refreshListLabel')</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bilan"
        [routerLink]="['/bilan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eComptaApp.bilan.home.createLabel">__jhiTransformTranslate__('eComptaApp.bilan.home.createLabel')</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bilans?.length === 0">
    <span jhiTranslate="eComptaApp.bilan.home.notFound">__jhiTransformTranslate__('eComptaApp.bilan.home.notFound')</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="bilans && bilans.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="exercice">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.bilan.exercice">__jhiTransformTranslate__('eComptaApp.bilan.exercice')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="actifTotal">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.bilan.actifTotal">__jhiTransformTranslate__('eComptaApp.bilan.actifTotal')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="passifTotal">
            <div class="d-flex">
              <span jhiTranslate="eComptaApp.bilan.passifTotal">__jhiTransformTranslate__('eComptaApp.bilan.passifTotal')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bilan of bilans; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bilan', bilan.id, 'view']">{{ bilan.id }}</a>
          </td>
          <td>{{ bilan.exercice | formatMediumDatetime }}</td>
          <td>{{ bilan.actifTotal }}</td>
          <td>{{ bilan.passifTotal }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/bilan', bilan.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">__jhiTransformTranslate__('entity.action.view')</span>
              </button>

              <button type="submit" [routerLink]="['/bilan', bilan.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">__jhiTransformTranslate__('entity.action.edit')</span>
              </button>

              <button type="submit" (click)="delete(bilan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"
                  >__jhiTransformTranslate__('entity.action.delete')</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
